@media only screen and (max-width: 1400px){
    .form-control {
        
       
        border: 1px solid #d1d1d1;
       
        width: 159px !important;
    }
    }
    
    
    
    
    .table th, .table td {

        font-weight: 400;

        
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal !important;
        font-size: 13px;
    }