<!-- <a href="javascript:void(0);" data-toggle="modal" data-target=".bd-example-modal-lg2" aria-label="Close" title="Delete"> 
    <i class="fa fa-close color-danger"></i>
</a> -->


<!-- commen smsg popup -->
<div class="modal  bd-example-modal-lg2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color:#fff; width:100%; text-align:center;">{{ title }}</h5>
        <button type="button" class="close" (click)="closeModal()"><span>&times;</span></button>
      </div>
      <div class="modal-body text-center">
        {{ message }}
      </div>
      <div class="modal-footer">
        <!-- <button type="submit" class="btn btn-primary"  data-dismiss="modal" (click)="onOk()">Ok</button> -->
        <button type="submit" class="btn btn-primary"  data-dismiss="modal" (click)="closeModal()">Cancel</button>
      </div>
    </div>
  </div>
</div>





	


