<div class="container-fluid">
    <div class="row">
        <!-- IMAGE CONTAINER BEGIN -->
        <div class="col-lg-6 col-md-6 d-none d-md-block infinity-image-container"><img src=""></div>
        <!-- IMAGE CONTAINER END -->

        <!-- FORM CONTAINER BEGIN -->
        <div class="col-lg-6 col-md-6 infinity-form-container">
            <div class="col-lg-9 col-md-12 col-sm-8 col-xs-12 infinity-form">
                <!-- Company Logo -->
                <div class="text-center mb-3 mt-5">
                    <img src="../../../../assets/images/logo.png">
                </div>
                <div class="text-center mb-4">
         <div style="text-align:center; color:#cb2448; font-weight: 400; font-size: 21px;">ACCESS ROLE MANAGEMENT SYSTEM</div>
         
         <div style="text-align:center; margin-top: 25px; font-size:20px; border-bottom:2px solid #cb2448; display: inline-block; font-weight: 500;">LOGIN</div>
         
          </div>
                <!-- Form -->
                <form class="px-3">
                    <!-- Input Box -->
                    
                    <div class="form-input">
                    
                        <span style="color:#cb2448;"><i class="fa fa-user"></i></span>
                        <input type="text" name="" placeholder="User Name" tabindex="10" required>
                    </div>
                    <div class="form-input">
                        <span style="color:#cb2448;"><i class="fa fa-lock"></i></span>
                        <input type="password" name="" placeholder="Password" required>
                    </div>
                    <div class="row mb-3">
                        <!--Remember Checkbox -->
                <div class="col-auto d-flex align-items-center">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cb1">
                         <label class="custom-control-label" for="cb1">Remember me</label>
                    </div>
                  </div>
                </div>
            
                <!-- Login Button -->
                <div class="mb-3"> 
                
                
                <a href="dashboard"><input type="button" class="btn btn-block"  value="Login" 
         style="background:linear-gradient(45deg, #cb2448, #1c32d6); color:#fff;border-radius: 5px;  height: 43px;"></a>
                
                
                    </div>
                  <!-- Forget Password -->
                    <div style="font-size:14px;">
                    <p style="margin-bottom:8px;"><b>Note :</b> Please provide your NT <b>ID</b> and <b>Password</b></p>
                    <p>You are not authorized Or either you are first time user Please contact to the application owner.</p>
                </div>
                        
                    
                </form>
            </div>
            <!-- FORM END -->					
        </div>
        <!-- FORM CONTAINER END -->
    </div>
</div>